:root {
    --u: 200px;
}

.qr_box {
    width: 100%;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    background: #333;
}

.qr_box> :nth-child(even) {
    border-right: 1px solid #ccc;
}

.qr_box>:last-child {
    border: none;
}

.qr_box>:nth-last-child(2) {
    border-bottom: 0;
}

.qr_box>h1 {
    inline-size: 100%;
    text-align: center;
    font-size: 2.5rem;
    padding: 3% 0;
    color: #eee;
    background: #333;
    border-bottom: 1px solid #ccc;
}

.qr_item_box {
    width: calc(100% / 2 - 1px);
    display: flex;
    flex-direction: column;
    padding: 6%;
    gap: 5px;
    border-bottom: 1px solid #ccc;
}

.action_box {
    width: 100%;
    display: flex;
    align-items: center;
    padding: 0 5px;
    gap: 9vw;
}

.action {
    position: relative;
    width: calc(100% - 20px - 9vw);
    height: calc(25px + (35 - 25)*(100vw - 320px)/(920 - 320));
    border-radius: 50px;
    overflow: hidden;
    display: flex;
    align-items: center;
}

.action1 {
    background: #00be20;
    left: -100%;
}

.action2 {
    background: #ff3434;
    right: -100%;
    transition: all 0.5s ease;
    transition-timing-function: cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.active {
    left: 0;
    right: 0;
}

.action>span {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 600;
    font-size: calc(18px + (40 - 18)*(100vw - 320px)/(920 - 320));
    color: #fff;
    transition: all 0.5s ease;
    transition-timing-function: cubic-bezier(0.68, -0.55, 0.265, 1.55);
    text-transform: uppercase;
    letter-spacing: 1px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.delete {
    height: calc(25px + (35 - 25)*(100vw - 320px)/(920 - 320));
    aspect-ratio: 1/1;
    background: #ff3434;
    border: none;
    border-radius: 50%;
    color: #fff;
}

.qr_item {
    position: relative;
    width: 100%;
    aspect-ratio: 1/1;
    padding: 3%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background: url(../../assets/img/masa.jpg);
    background-size: cover;
    border-radius: 10px;
    overflow: hidden;
    font-size: calc(20px + (60 - 30)*(100vw - 320px)/(920 - 320));
    color: #13ff3a;
    gap: 5vw;
    z-index: 1;
}

.qr_item>h3 {
    text-shadow: 2px 0px 3px #000;
}

.qr_item::after {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    content: '';
    backdrop-filter: blur(2px);
    z-index: -1;
}

.busy_table {
    color: #ff3434;
}

.busy_table::after {
    background: #00000090;
    backdrop-filter: blur(0px);
}

.qr_item>i {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.qr_on {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background: #333;
    color: #fff;
    z-index: 999;
}


.qr_on>img {
    width: 85vw;
    aspect-ratio: 4/4;
    object-fit: cover;
}

.qr_on>p {
    position: absolute;
    bottom: 10%;
    left: 50%;
    transform: translate(-50%, 0%);
    width: 17vw;
    height: 17vw;
    border-radius: 50%;
    background: #fff;
    color: #333;
    display: flex;
    align-items: center;
    justify-content: center;
}

.qr_on>p>span {
    padding-top: 0.5rem;
    font-size: 2.5rem;
    font-weight: 700;
}

.qr_on>h3 {
    color: #eee;
}

.add_qr {
    margin-top: 30px;
}

.add_qr>span {
    font-size: calc(60px + (120 - 60)*(100vw - 320px)/(920 - 320));
    color: #fff;
}

.add_qr::after {
    backdrop-filter: blur(0px);
    background: #00000090;
}

.add_qr :where(input, button) {
    width: 100%;
    height: calc(40px + (55 - 40)*(100vw - 320px)/(920 - 320));
    padding: 0 3%;
    border: none;
    border-radius: 5px;
    background: #fff;
    color: #333;
    font-size: calc(16px + (20 - 16)*(100vw - 320px)/(920 - 320));
    letter-spacing: 0.5px;
}

.add_qr>button {
    background: #333;
    color: #fff;
    box-shadow: 0 0 20px #ccc4;
}

.add_qr>button:active {
    background: #444;
}